<div class="min-h-screen flex items-center justify-center bg-secondary relative">

  <!-- Login Box -->
  <div class="relative z-10 p-8 bg-primary rounded-lg shadow-lg w-full max-w-md">
    <h2 class="text-3xl text-white font-semibold text-center mb-4">Login</h2>

    <!-- Logo Selection -->
    <div class="flex items-center justify-around mb-6">
      <label class="flex items-center space-x-2 cursor-pointer">
        <input
          type="radio"
          name="adminType"
          value="IBC"
          [(ngModel)]="selectedAdmin"
          (change)="changeTheme('IBC')"
          class="hidden"
        />
        <div class="w-8 h-8 rounded-full bg-green-500"></div>
        <span class="text-white">IBC</span>
      </label>
    
      <label class="flex items-center space-x-2 cursor-pointer">
        <input
          type="radio"
          name="adminType"
          value="Jet"
          [(ngModel)]="selectedAdmin"
          (change)="changeTheme('Jet')"
          class="hidden"
        />
        <div class="w-8 h-8 rounded-full bg-blue-500"></div>
        <span class="text-white">Jet</span>
      </label>
    
      <label class="flex items-center space-x-2 cursor-pointer">
        <input
          type="radio"
          name="adminType"
          value="Gis"
          [(ngModel)]="selectedAdmin"
          (change)="changeTheme('Gis')"
          class="hidden"
        />
        <div class="w-8 h-8 rounded-full bg-orange-500"></div>
        <span class="text-white">Gis</span>
      </label>
    </div>
    

    <!-- Error Message -->
    <div *ngIf="errorMessage" class="text-red-600 text-center mb-4">
      <p>{{ errorMessage }}</p>
    </div>

    <!-- Login Form -->
    <form (ngSubmit)="login()" class="space-y-6">
      <div class="space-y-2">
        <label for="username" class="block text-sm font-medium text-white">Username</label>
        <input
          type="text"
          id="username"
          [(ngModel)]="username"
          name="username"
          placeholder="Enter your username"
          required
          class="w-full px-4 py-3 border rounded-lg focus:outline-none focus:ring-2 focus:ring-green-500"
        />
      </div>

      <div class="space-y-2">
        <label for="password" class="block text-sm font-medium text-white">Password</label>
        <input
          type="password"
          id="password"
          [(ngModel)]="password"
          name="password"
          placeholder="Enter your password"
          required
          class="w-full px-4 py-3 border rounded-lg focus:outline-none focus:ring-2 focus:yellow-400"
        />
      </div>

      <button type="submit" class="w-full py-3 bg-yellow-400 text-white rounded-lg hover:bg-yellow-500 focus:outline-none focus:ring-2 focus:ring-green-500">
        Login
      </button>
    </form>
  </div>
</div>
